<div id="contant">
<div class="midBox1">
  <span><img src="images/c2_i6.png" width="303" height="420" alt="" /></span>
  <div class="midBox1Top">
    <h3>This is the index page!</h3>
    <br><br>
    <p>Mä muutin täällä osioita vielä niin, että erotin footerista lomakkeen omaan lohkoonsa. :) <br> Muuten tyhmästi tehty pohja kun nää tekstilaatikoiden koko määrittyy sen mukaan, miten paljon tekstiä on...<br><br /> dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non<br /> proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <a href="#"><img src="images/c2_i2.png" width="133" height="40" alt="" /></a>
    <a href="#"><img src="images/c2_i3.png" width="84" height="40" alt="" /></a>
    <a href="#"><img src="images/c2_i4.png" width="93" height="40" alt="" /></a>
    <a href="#"><img src="images/c2_i5.png" width="101" height="38" alt="" /></a>
  </div>
  <div class="midBox1Bottom">
    <h4>Neque porro quisquam?</h4>
    <ul>
      <li class="cat002"><a href="#">Lorem Ipsum is simply dummy text of the printing</a></li>
      <li class="cat002"><a href="#">It is a long established fact that a reader</a></li>
      <li class="cat002"><a href="#">There are many variations of passages of Lorem Ipsum</a></li>
      <li class="cat002"><a href="#">Contrary to popular belief, Lorem Ipsum is not simply random text</a></li>
    </ul>
  </div>
  <br class="clear" />
</div>
<div class="midBox2">
  <div class="midBox2L">
    <h2>Good to know that you are still here! #espoo</h2>
    <h3>Contrary to popular belief, Lorem Ipsum is not<br /> simply random text.</h3>
    <p>It is a long established fact that a reader will be distracted by the <br />readable content of a page when looking at its layout.</p>
  </div>
  <img src="images/c3_i7.png" width="460" height="237" alt="" />
</div>
