<div id="footer">
 <div class="footerForm">
 <h3>Lorem Ipsum passages</h3>
  <h4>more recently with desktop publishing</h4>
 <div class="footerFormR">
   <form method=post action =/adduser>
  <p><label>Name*:</label><input name="name" type="text" class="footerInputArea" /></p>
  <p><label>Id*:</label><input name="id" type="text" class="footerInputArea" /></p>
  <p><label>Country:</label><input name="country" type="text" class="footerInputArea" /></p>

 <div class="footerFormR">
  <p><label>Message:</label> <textarea name="message" class="footertextarea" rows="2" cols="3"></textarea>
  </p>
     <input name="" value="" type="submit" class="footerSubmit" />
     </form>
      </div>
 </div>
 <br class="clear" />
 </div>
<p>All the Lorem Ipsum generators on the<br /> Internet tend to repeat predefined chunks as<br /> necessary, making this the first true generator<br /> on the Internet. It uses a dictionary of over<br /> 200 Latin words, combined with a handful of<br /> model sentence structures, to generate Lorem<br /> Ipsum which looks reasonable. The generated<br /> Lorem Ipsum is therefore always free from<br /> repetition, injected humour, or<br /> non-characteristic words etc.</p>
<br class="clear" />
</div>
</div>
